{% extends 'base2.html.twig' %}

{% block title %}Voyages{% endblock %}

{% block content %}
<div class="big-box">
    <div class="voyage-container">
        {% for voyage in testers %}
            <div class="voyage-item">
                <div class="voyage-image">
                    <img src="{{ asset('uploads/images/' ~ voyage.imageFile) }}" alt="{{ voyage.destination }}">
                </div>
                <div class="voyage-details">
                    <div class="attribute-box">
                        <div class="attribute-label">Location:</div>
                        <div class="attribute-value">{{ voyage.destination }}</div>
                    </div>
                </div>
                <form action="{{ path('app_Hebergement-list', {'id': voyage.id}) }}" method="post">
                    <button type="submit" class="btn btn-primary">voir hotels</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

{# Pagination controls #}
<div class="pagination" style="text-align: center; margin-top: 20px;">
    {{ knp_pagination_render(testers) }}
</div>
{% endblock %}