{% extends 'base2.html.twig' %}
{% block title %}Gestion Hebergement{% endblock %}
{% block content %}
    <body data-barba="wrapper">
        <div class="dashboard" data-x="dashboard" data-x-toggle="-is-sidebar-open">
        <div class="dashboard__sidebar bg-white scroll-bar-1">

            <div class="sidebar -dashboard">

                <div class="sidebar__item ">


                    <a href="{{ path('app_db-dashboard') }}" class="sidebar__button d-flex items-center text-15 lh-1 fw-500">
            <img src="{{asset('img/dashboard/sidebar/compass.svg') }}" alt="image" class="mr-15">
            Dashboard
          </a>


                </div>

                <div class="sidebar__item ">


                    <a href="#" class="sidebar__button d-flex items-center text-15 lh-1 fw-500">
            <img src="{{asset('img/dashboard/sidebar/booking.svg') }}" alt="image" class="mr-15">
            Booking Manager
          </a>


                </div>

                <div class="sidebar__item ">


                    <div class="accordion -db-sidebar js-accordion">
                        <div class="accordion__item">
                            <div class="accordion__button">
                                <div class="sidebar__button col-12 d-flex items-center justify-between">
                                    <div class="d-flex items-center text-15 lh-1 fw-500">
                                        <img src="{{asset('img/dashboard/sidebar/hotel.svg') }}" alt="image" class="mr-10"> Manage Hotel
                                    </div>
                                    <div class="icon-chevron-sm-down text-7"></div>
                                </div>
                            </div>

                            <div class="accordion__content">
                                <ul class="list-disc pt-15 pb-5 pl-40">

                                    <li>
                                        <a href="{{path('app_Hebergement_list') }}" class="text-15">All Hotels</a>
                                    </li>

                                    <li>
                                        <a href="{{path('app_form_new_hebergment') }}" class="text-15">Add Hotel</a>
                                    </li>

                                    

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="sidebar__item ">


                     <div class="sidebar__item ">


                   <div class="accordion -db-sidebar js-accordion">
                        <div class="accordion__item">
                            <div class="accordion__button">
                                
                            </div>

                            
                        </div>
                    </div>


                </div>


                </div>

                <div class="sidebar__item ">


                    <div class="accordion -db-sidebar js-accordion">
                        <div class="accordion__item">
                            <div class="accordion__button">
                                <div class="sidebar__button col-12 d-flex items-center justify-between">
                                    <div class="d-flex items-center text-15 lh-1 fw-500">
                                        <img src="{{asset('img/dashboard/sidebar/sneakers.svg') }}" alt="image" class="mr-10"> Manage Event
                                    </div>
                                    <div class="icon-chevron-sm-down text-7"></div>
                                </div>
                            </div>

                            <div class="accordion__content">
                                <ul class="list-disc pt-15 pb-5 pl-40">

                                    <li>
                                        <a href="#" class="text-15">All Hotels</a>
                                    </li>

                                    <li>
                                        <a href="#" class="text-15">Add Hotel</a>
                                    </li>

                                    <li>
                                        <a href="#" class="text-15">Recovery</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="sidebar__item ">


                    <div class="accordion -db-sidebar js-accordion">
                        <div class="accordion__item">
                            <div class="accordion__button">
                                <div class="sidebar__button col-12 d-flex items-center justify-between">
                                    <div class="d-flex items-center text-15 lh-1 fw-500">
                                        <img src="{{asset('img/dashboard/sidebar/house.svg') }}" alt="image" class="mr-10"> Manage Holiday Rental
                                    </div>
                                    <div class="icon-chevron-sm-down text-7"></div>
                                </div>
                            </div>

                            <div class="accordion__content">
                                <ul class="list-disc pt-15 pb-5 pl-40">

                                    <li>
                                        <a href="#" class="text-15">All Hotels</a>
                                    </li>

                                    <li>
                                        <a href="#" class="text-15">Add Hotel</a>
                                    </li>

                                    <li>
                                        <a href="#" class="text-15">Recovery</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="sidebar__item ">


                    <div class="accordion -db-sidebar js-accordion">
                        <div class="accordion__item">
                            <div class="accordion__button">
                                <div class="sidebar__button col-12 d-flex items-center justify-between">
                                    <div class="d-flex items-center text-15 lh-1 fw-500">
                                        <img src="{{asset('img/dashboard/sidebar/taxi.svg') }}" alt="image" class="mr-10"> Manage Car
                                    </div>
                                    <div class="icon-chevron-sm-down text-7"></div>
                                </div>
                            </div>

                            <div class="accordion__content">
                                <ul class="list-disc pt-15 pb-5 pl-40">

                                    <li>
                                        <a href="#" class="text-15">All Hotels</a>
                                    </li>

                                    <li>
                                        <a href="#" class="text-15">Add Hotel</a>
                                    </li>

                                    <li>
                                        <a href="#" class="text-15">Recovery</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="sidebar__item ">


                     <div class="sidebar__item ">


                   <div class="accordion -db-sidebar js-accordion">
                        <div class="accordion__item">
                            <div class="accordion__button">
                                
                            </div>

                            
                        </div>
                    </div>


                </div>


                </div>

<div class="sidebar__item ">


                    <div class="accordion -db-sidebar js-accordion">
                        <div class="accordion__item">
                            <div class="accordion__button">
                                <div class="sidebar__button col-12 d-flex items-center justify-between">
                                    <div class="d-flex items-center text-15 lh-1 fw-500">
                                        <img src="img/dashboard/sidebar/airplane.svg" alt="image" class="mr-10"> Manage destinations
                                    </div>
                                    <div class="icon-chevron-sm-down text-7"></div>
                                </div>
                            </div>

                            <div class="accordion__content">
                                <ul class="list-disc pt-15 pb-5 pl-40">

                                    <li>
                                        <a href="{{path('app_Voyage_list')}}" class="text-15">All destination</a>
                                    </li>

                                    <li>
                                        <a href="{{path('app_form_new1')}}" class="text-15">Add destination</a>
                                    </li>

                                    

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="sidebar__item ">


                    <a href="#" class="sidebar__button d-flex items-center text-15 lh-1 fw-500">
            <img src="{{asset('img/dashboard/sidebar/log-out.svg') }}" alt="image" class="mr-15">
            Logout
          </a>


                </div>

            </div>

        </div>
            <div class="dashboard__main">
                <div class="dashboard__content bg-light-2">
                    <div class="row y-gap-20 justify-between items-end pb-60 lg:pb-40 md:pb-32">
                        <div class="col-auto">
                            <h1 class="text-30 lh-14 fw-600">Add Hotels</h1>
                            <div class="text-15 text-light-1">Lorem ipsum dolor sit amet, consectetur.</div>
                        </div>
                        <div class="col-auto"></div>
                    </div>
                    <div class="py-30 px-30 rounded-4 bg-white shadow-3">
                    {% if formAdd.vars.value.id is not empty %}
                        <form method="post" action="{{ path('app_form_new_edit', {'id': formAdd.vars.value.id}) }}">
                            
                     {% else %}
                        <form method="post" action="{{ path('app_form_new_hebergment') }}" enctype="multipart/form-data">
                    {% endif %}

                        <form method="post" action="{{ path('app_form_new_hebergment') }}">
                           {{ form_start(formAdd,{'attr':{'novalidate': 'novalidate'}} ) }}
                            <div class="tabs -underline-2 js-tabs">
                                <div class="tabs__content pt-30 js-tabs-content">
                                    <div class="tabs__pane -tab-item-1 is-tab-el-active">
                                        <div class="col-xl-10">
                                            <div class="text-18 fw-500 mb-10">Flight Content</div>
                                            <div class="row x-gap-20 y-gap-20">

                                            <div class="col-12">
                                                    <div class="form-input">
                                                        {{ form_label(formAdd.voyage_id, ' voyage id', {'label_attr': {'class': 'lh-1 text-16 text-light-1'}}) }}
                                                        {{ form_widget(formAdd.voyage_id, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                             

                                                <div class="col-12">
                                                    <div class="form-input">
                                                        {{ form_label(formAdd.nomH, 'nom hotel', {'label_attr': {'class': 'lh-1 text-16 text-light-1'}}) }}
                                                        {{ form_widget(formAdd.nomH, {'attr': {'class': 'form-control'}}) }}
                                                      
                                                    </div>
                                                     <!-- Affichage des messages d'erreur -->
                                                {% for errors in formAdd.nomH.vars.errors %}
                                                    <div class="alert alert-danger">{{ errors.message }}</div>
                                                {% endfor %}
                                            </div>
                                                </div>
                                                
                                                <div class="col-12">
                                                    <div class="form-input">
                                                        {{ form_label(formAdd.type, 'type', {'label_attr': {'class': 'lh-1 text-16 text-light-1'}}) }}
                                                        {{ form_widget(formAdd.type, {'attr': {'class': 'form-control'}}) }}
                                                     
                                                    </div>
                                                     <!-- Affichage des messages d'erreur -->
                                                {% for errors in formAdd.type.vars.errors %}
                                                    <div class="alert alert-danger">{{ errors.message }}</div>
                                                {% endfor %}
                                            </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-input">
                                                        {{ form_label(formAdd.qualite, 'qualite', {'label_attr': {'class': 'lh-1 text-16 text-light-1'}}) }}
                                                        {{ form_widget(formAdd.qualite, {'attr': {'class': 'form-control'}}) }}
                                                     
                                                    </div>
                                                      <!-- Affichage des messages d'erreur -->
                                                {% for errors in formAdd.qualite.vars.errors %}
                                                    <div class="alert alert-danger">{{ errors.message }}</div>
                                                {% endfor %}
                                            </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-input">
                                                        {{ form_label(formAdd.nombre_chambre, 'nb chambres', {'label_attr': {'class': 'lh-1 text-16 text-light-1'}}) }}
                                                        {{ form_widget(formAdd.nombre_chambre, {'attr': {'class': 'form-control'}}) }}
                                                    
                                                    </div>
                                                       <!-- Affichage des messages d'erreur -->
                                                {% for errors in formAdd.nombre_chambre.vars.errors %}
                                                    <div class="alert alert-danger">{{ errors.message }}</div>
                                                {% endfor %}
                                            </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-input">
                                                        {{ form_label(formAdd.liste_activite, 'liste activites', {'label_attr': {'class': 'lh-1 text-16 text-light-1'}}) }}
                                                        {{ form_widget(formAdd.liste_activite, {'attr': {'class': 'form-control'}}) }}
                                                        
                                                    </div>
                                                     <!-- Affichage des messages d'erreur -->
                                                {% for errors in formAdd.liste_activite.vars.errors %}
                                                    <div class="alert alert-danger">{{ errors.message }}</div>
                                                {% endfor %}
                                            </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-input">
                                                        {{ form_label(formAdd.prix, 'prix', {'label_attr': {'class': 'lh-1 text-16 text-light-1'}}) }}
                                                        {{ form_widget(formAdd.prix, {'attr': {'class': 'form-control'}}) }}
                                                       
                                                    </div>
                                                     <!-- Affichage des messages d'erreur -->
                                                {% for errors in formAdd.prix.vars.errors %}
                                                    <div class="alert alert-danger">{{ errors.message }}</div>
                                                {% endfor %}
                                            </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-input">
                                                        {{ form_label(formAdd.imageFile, 'imageFile', {'label_attr': {'class': 'lh-1 text-16 text-light-1'}}) }}
                                                        {{ form_widget(formAdd.imageFile, {'attr': {'class': 'form-control'}}) }}
                                                        <!-- Display validation errors if any -->
                                                        {% for errors in formAdd.imageFile.vars.errors %}
                                                            <div class="alert alert-danger">{{ errors.message }}</div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            


                                            
                                              <br><br><br>



                                            
                                                <div class="col-12">
                                                    {{ form_widget(formAdd.submit, {'attr': {'class': 'button h-50 px-24 -dark-1 bg-blue-1 text-white'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(formAdd) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}


