    {% extends 'base2.html.twig' %}
    {% block title %}Table user{% endblock %}


    {% block content %}

<body data-barba="wrapper">

    <div class="dashboard" data-x="dashboard" data-x-toggle="-is-sidebar-open">
        <div class="dashboard__sidebar bg-white scroll-bar-1">


            <div class="sidebar -dashboard">

                <div class="sidebar__item">
                    <div class="sidebar__button -is-active">
                        <a href="{{ path('app_db-vendor-dashboard')}}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/booking.svg')}}" alt="image" class="mr-15">
              Dashboard
            </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar__button ">
                        <a href="{{ path('app_db-booking') }}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/booking.svg')}}" alt="image" class="mr-15">
              Booking History
            </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar__button ">
                        <a href="{{ path('app_db-wishlist') }}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/bookmark.svg')}}" alt="image" class="mr-15">
              Wishlist
            </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar__button ">
                        <a href="{{ path('app_db-settings') }}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/gear.svg')}}" alt="image" class="mr-15">
              Settings
            </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar__button ">
                        <a href="{{path('app_logout') }}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/log-out.svg')}}" alt="image" class="mr-15">
              Logout
            </a>
                    </div>
                </div>

            </div>


        </div>

        <div class="dashboard__main">
            <div class="dashboard__content bg-light-2">
                <div class="row y-gap-20 justify-between items-end pb-60 lg:pb-40 md:pb-32">
                    <div class="col-auto">

                        <h1 class="text-30 lh-14 fw-600">Table user</h1>
                        <div class="text-15 text-light-1">Lorem ipsum dolor sit amet, consectetur.</div>

                    </div>

                    <div class="col-auto">

                    </div>
                </div>


                <div class="py-30 px-30 rounded-4 bg-white shadow-3">
                        <div class="tabs__content pt-30 js-tabs-content">

                            <div class="tabs__pane -tab-item-1 is-tab-el-active">
                                <div class="overflow-scroll scroll-bar-1">
                                    <table class="table-3 -border-bottom col-12">
                                        <thead class="bg-light-2">
                                            <tr>
                                                <th>id</th>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Email</th>
                                                <th>created_at</th>
                                                <th>Role</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for user in users %}
                                            <tr>
                                                <td>{{user.id}}</td>
                                                <td>{{user.Nom}}</td>
                                                <td>{{user.prenom}}</td>
                                                <td class="lh-16">{{user.email}}</td>
                                                <td>{{ user.getCreatedAt()|date('Y-m-d H:i:s') }}</td>
                                                <td>
                                                    {% for role in user.roles %}
                                                        {{ role }}
                                                        {% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                 {% if user.isVerified == 1 %}
                                                <span class="rounded-100 py-4 px-10 text-center text-14 fw-500 bg-blue-1-05 text-blue-1">Verified</span>
                                                 {% else %}
                                                  <span class="rounded-100 py-4 px-10 text-center text-14 fw-500 bg-red-3 text-red-2">Not Verified</span></td>
                                                  {% endif %}
                                                <td>
                                                    <a href="{{ path('app_delete_User',{'id': user.id}) }}">Delete</a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('app_edit_User',{'id': user.id}) }}">modifier</a>
                                                </td>
                                            </tr>
                                            {% else %}
                                            <h1> Table non definie ou vide </h1>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                
</body>
{% endblock %}
