

{% extends 'base2.html.twig' %}
    {% block title %}Gestion Hotel{% endblock %}
    {% block content %}
<body data-barba="wrapper">
    <div class="dashboard" data-x="dashboard" data-x-toggle="-is-sidebar-open">
        <div class="dashboard__sidebar bg-white scroll-bar-1">


            <div class="sidebar -dashboard">

                <div class="sidebar__item">
                    <div class="sidebar__button -is-active">
                        <a href="{{ path('app_db-dashboard') }}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/compass.svg') }}" alt="image" class="mr-15">
              Dashboard
            </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar__button ">
                        <a href="{{ path('app_db-booking') }}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/booking.svg') }}" alt="image" class="mr-15">
              Booking History
            </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar__button ">
                        <a href="{{ path('app_db-wishlist') }}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/bookmark.svg') }}" alt="image" class="mr-15">
              Wishlist
            </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar__button ">
                        <a href="{{ path('app_db-settings') }}" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/gear.svg') }}" alt="image" class="mr-15">
              Settings
            </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar__button ">
                        <a href="#" class="d-flex items-center text-15 lh-1 fw-500">
              <img src="{{asset('img/dashboard/sidebar/log-out.svg') }}" alt="image" class="mr-15">
              Logout
            </a>
                    </div>
                </div>

            </div>


        </div>

        <div class="dashboard__main">
            <div class="dashboard__content bg-light-2">
                <div class="row y-gap-20 justify-between items-end pb-60 lg:pb-40 md:pb-32">
                    <div class="col-auto">

                        <h1 class="text-30 lh-14 fw-600">Add Hotels</h1>
                        <div class="text-15 text-light-1">Lorem ipsum dolor sit amet, consectetur.</div>

                    </div>

                    <div class="col-auto">

                    </div>
                </div>


                <div class="py-30 px-30 rounded-4 bg-white shadow-3">
                    <div class="tabs -underline-2 js-tabs">
                        <div class="tabs__controls row x-gap-40 y-gap-10 lg:x-gap-20 js-tabs-controls">

                  

                        </div>

                        <div class="tabs__content pt-30 js-tabs-content">
                            <div class="tabs__pane -tab-item-1 is-tab-el-active">
                                <div class="col-xl-10">
                                    <div class="text-18 fw-500 mb-10">Flight Content</div>
                                    <div class="row x-gap-20 y-gap-20">
                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" required>
                                                <label class="lh-1 text-16 text-light-1">Aeroport Depart</label>
                                            </div>

                                        </div>
                                        <div class="col-12">

                                            <div class="form-input ">
                                                <textarea required rows="5"></textarea>
                                                <label class="lh-1 text-16 text-light-1">Aeroport Arrivé</label>
                                            </div>

                                        </div>
                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" required>
                                                <label class="lh-1 text-16 text-light-1">Num Passeport</label>
                                            </div>

                                        </div>

                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" required>
                                                <label class="lh-1 text-16 text-light-1">Date Depart</label>
                                            </div>

                                        </div>

                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" required>
                                                <label class="lh-1 text-16 text-light-1">Date Arrivé</label>
                                            </div>

                                        </div>

                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" required>
                                                <label class="lh-1 text-16 text-light-1">Nombre Personnes</label>
                                            </div>

                                        </div>

                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" required>
                                                <label class="lh-1 text-16 text-light-1">Prix</label>
                                            </div>

                                        </div>
                                    </div>


                                   

                                           

                                    <div class="d-inline-block mt-30">

                                        <a href="#" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">
                      Save Changes <div class="icon-arrow-top-right ml-15"></div>
                    </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
{% endblock %}